<app-navbar></app-navbar>
<form class="d-flex mt-3" role="search" style="margin-left: 105rem;position: relative;">
    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: fit-content;" formControlName="search" [(ngModel)]="searchVal"> -->
    <!-- <button class="btn btn-outline-primary" type="submit">Search</button> -->
    <input type="text" (input)="onSearchChange($event.target)"  class="form-control me-2" placeholder="Search"
    style="width: fit-content;">
</form>
<hr>


<div *ngIf="!isDataShow">
    <div class="card" style="width: 20rem;display: inline-block;margin: 2rem;" *ngFor="let item of dataval">
        <img [src]="item.image" class="card-img-top" alt="..."
            style="text-align: center;display: block;object-position: 50% 50%">
        <div class="card-body">
            <h5 class="card-title">{{ item.description }}</h5>
            <p-rating [(ngModel)]="item.rating" [cancel]="false"></p-rating>
            <div><span style="text-decoration: line-through;" *ngIf="item.isOffer"><i
                        class="bi bi-currency-rupee"></i>{{ item.withoutDiscountPrice }}</span> <span
                    style="margin-left: 1rem;"><i class="bi bi-currency-rupee"></i>{{ item.withDiscountPrice
                    }}</span><span *ngIf="item.isOffer" style="margin-left: 0.5rem;">(10% off)</span></div>
            <h5 style="background-color: rgb(211, 62, 62);color: white;width: max-content;padding: 3px;"
                *ngIf="item.isOffer">Limited
                time Deal</h5>
            <div style="margin-top: 1rem;">
                <a routerLink="/mycart" class="btn btn-warning" style="margin-right: 2rem;" (click)="AddToCartFun(item)">Add To Cart</a>
                <a href="#" class="btn btn-warning" style="background-color: orange;">Buy Now</a>
            </div>
        </div>
    </div>
</div>



<div *ngIf="isDataShow">
    <div class="card" style="width: 20rem;display: inline-block;margin: 2rem;" *ngFor="let item of filterArr">
        <img [src]="item.image" class="card-img-top" alt="..."
            style="text-align: center;display: block;object-position: 50% 50%;">
        <div class="card-body">
            <h5 class="card-title">{{ item.description }}</h5>
            <p-rating [(ngModel)]="item.rating" [cancel]="false"></p-rating>
            <div><span style="text-decoration: line-through;" *ngIf="item.isOffer"><i
                        class="bi bi-currency-rupee"></i>{{ item.withoutDiscountPrice }}</span> <span
                    style="margin-left: 1rem;"><i class="bi bi-currency-rupee"></i>{{ item.withDiscountPrice
                    }}</span><span *ngIf="item.isOffer" style="margin-left: 0.5rem;">(10% off)</span></div>
            <h5 style="background-color: rgb(211, 62, 62);color: white;width: max-content;padding: 3px;"
                *ngIf="item.isOffer">Limited
                time Deal</h5>
            <div style="margin-top: 1rem;">
                <a href="#" class="btn btn-warning" style="margin-right: 2rem;">Add To Cart</a>
                <a href="#" class="btn btn-warning" style="background-color: orange;">Buy Now</a>
            </div>
        </div>
    </div>
</div>

